<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
   <h1>Welcome to Byte Box: <%= user.username %>!</h1>
   <p>Byte Box is your digital pantry assistant that helps you effortlessly
    track what you have in your kitchen. Simply list your items and their quanities, making
    it easy to stay organized and avoid food waste. 
   </p>
   <p>With Byte Box, you can quickly see waht ingredients are on hand, ensuring you always know what to cook 
    and what to restock. Say goodbye to forgotten food and last-minute grocery runs. Byte Box keeps your pantry in check,
     allowing you to make the most of your ingredients. 
    Enjoy a more efficient kitchen experience with Byte Box, your personal pantyr manger!
    </p>
  
</body>
</html>
